html {
  scrollbar-gutter: stable;
}

#card {
  display: grid;
  grid-template-columns: 120px 2fr 2fr 120px 1fr;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px solid black;
  font-size: 1.4vh;
}

.img {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  height: 10vh;
}

.navbar-logo {
  width: 12vh;
}

.navbar-rentado {
  width: 30vh;
}

.navbar-profileLogo {
  width: 8vh;
  margin-right: 8px;
}

#main-container {
  display: flex;
  width: 100%;
}

.sidebar {
  border: 2px solid rgb(0, 0, 0);
  width: 40vh;
}

#container-sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  background: none;
  padding: 2vh;
  margin-top: 2vh;
  font-size: 2.6vh;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: black;
}

.list-header {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 120px 120px;
  gap: 20px;
  padding: 15px 20px;
  font-weight: bold;
  border-bottom: 3px solid black;
  font-size: 5vh;
}

.name,
.location {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homepage {
  flex: 1;
  width: 100%;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.actions button {
  padding: 6px 12px;
  font-size: 14px;
  white-space: nowrap;
}
