#card {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  padding: 5vh;
}

.img {
  width: 30vh;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  height: 10vh;
}

.navbar-logo {
  width: 12vh;
}

.navbar-rentado {
  width: 30vh;
}

.navbar-profileLogo {
  width: 8vh;
  margin-right: 8px;
}

#main-container {
  display: flex;
}

.sidebar {
  border: 2px solid rgb(0, 0, 0);
  width: 40vh;
}

#container-sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: transparent;
  padding: 2vh;
  margin-top: 2vh;
  font-size: 2.6vh;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
}

.sidebar-link button {
  background: none;
  border: none;
  cursor: pointer;
}
